@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: playfair-display, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --primary: 220 100% 45%;
    --primary-foreground: 210 40% 98%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 220 100% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;         /* Page background: black */
    --card: 0 0% 0%;               /* Card background: black */
    --foreground: 210 40% 98%;

    --card-foreground: 210 40% 98%;
    --primary: 220 100% 45%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --muted-foreground: 215 20.2% 65.1%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 220 100% 45%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
